#calc-visualizer {
    @include flexbox;
    @include flex-dir(column);

    background: $offwhite;
    width: 100%;

    #calc-visualizer-header {
        @include flexbox;
        @include flex(0 0 auto);

        background: white;
        border-bottom: 1px solid $border-silver;
        height: 55px;
        padding: 10px;
        width: 100%;

        .title, .header-error, .header-note {
            display: block;
            color: #7e8181;
            font-family: 'Gotham-Book', arial, sans-serif;
            line-height: 33px;
        }

        .header-error {
            color: $error-red;
            margin-right: 10px;
        }

        .header-note {
            margin-right: 10px;
        }

        i {
            cursor: pointer;
            font-size: 20px;
            line-height: 33px;
            padding: 0 10px;
        }
    }

    #calc-visualizer-main {
        @include flexbox;
        @include flex-dir(row);
        @include flex(1 0 auto);

        #calc-visualizer-graph {
            @include flexbox;
            @include flex(1 0 auto);

            // set the container width and make scrollable
            // remove the fixed widths for left nav and meta panel
            width: calc(100vw - 650px);
            overflow-x: auto;

            #calc-visualizer-graph-container {
                position: relative;

                div.controls {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 300px;
                }

                svg {
                    height: calc(100vh - 55px);

                    .node {
                        cursor: pointer;
                    }

                    .node {

                        circle.main {
                            fill: $grey;
                            stroke: $grey;
                            stroke-width: 1.5px;
                        }

                        &.completed circle.main {
                            fill: $completed;
                            stroke: $completed;
                        }

                        &.failed circle.main {
                            fill: $failed;
                            stroke: $failed;
                        }

                        &.calculating circle.main {
                            fill: $calculating;
                            stroke: $calculating;
                        }

                        &.uploading circle.main {
                            fill: $calculating;
                            stroke: $calculating;
                        }

                        &.ready circle.main {
                            fill: $ready;
                            stroke: $ready;
                        }

                        &.empty circle.main {
                            fill: #fff;
                            stroke-width: 1.5px;
                        }

                        &.selected circle.main {
                            stroke-width: 3px;
                            stroke: $grey;
                        }
                    }

                    .node text {
                        font: 10px sans-serif;
                    }

                    .link {
                        fill: none;
                        stroke: #ccc;
                        stroke-width: 1.5px;
                    }
                }
            }
        }

        #calc-visualizer-details {
            @include flexbox;
            @include flex-direction(column);
            @include flex(0 0 450px);
            height: calc(100vh - 55px);

            background: $offwhite;
            border-left: 1px solid $border-silver;
            padding: 15px;
            overflow-y: auto;

            > .details-content > div:not(:first-child) {
                margin-top: 10px;
            }

            h3 {
                color: #7e8181;
                font-family: 'Gotham-Light', arial, sans-serif;
                font-size: 20px;
                margin-bottom: 10px;

                small {
                    font-size: 14px;
                }

                button {
                    background: $charcoal;
                    padding: 5px 0;
                    min-width: 25px !important;

                    &:disabled {
                        cursor: not-allowed;
                        background: $grey;
                        color: $tan;
                    }
                }
            }

            h4 {
                color: $charcoal-light;
                font-family: 'Gotham-Light', arial, sans-serif;
                font-size: 14px;
            }

            li {
                font-family: 'Gotham-Light', arial, sans-serif;
                font-size: 12px;

                margin-bottom: 15px;

                button {
                    @include flex(1 0 auto);

                    background: $charcoal;
                    margin-top: 10px;
                    min-width: 25px !important;
                    padding: 5px 0;
                    width: 25px !important;
                }

                &.record {
                    li {
                        border-left: 4px solid $border-silver;
                        font-size: 11px;
                        padding-left: 5px;
                    }

                    ul {
                        margin-left: 10px;
                        margin-top: 10px;
                    }
                }
            }

            button {
                @include flex(1 0 auto);

                background: $charcoal;
                margin-bottom: 10px;
                min-width: 25px !important;
                padding: 5px;
            }

            .long-id {
                font-size: 10px;
            }

            .ace_editor {
                margin-bottom: 20px;
            }
        }

        #calc-visualizer-search {
            @include flexbox;
            @include flex-direction(column);
            @include flex(0 0 450px);
            height: calc(100vh - 55px);

            background: $offwhite;
            border-left: 1px solid $border-silver;
            padding: 15px;

            i.close {
                cursor: pointer;
                font-size: 20px;
                line-height: 33px;
                padding: 0 10px;
            }

            .calc-vis-search-header {
                @include flexbox;
                @include justify-content(space-between);
                border-bottom: 1px solid $border-silver;
                margin-bottom: 20px;

                h3 {
                    color: #7e8181;
                    font-family: 'Gotham-Light', arial, sans-serif;
                    font-size: 20px;
                    line-height: 40px;
                }
                i {
                    color: #7e8181;
                    line-height: 35px;
                }
            }

            .details-content {
                height: calc(100vh - 55px);
            }

            md-tabs {
                height: calc(100vh - 145px);
                md-tabs-content-wrapper {
                    height: calc(100vh - 195px);
                    md-tab-content {
                        overflow: hidden !important;
                    }
                }
            }

            div.search-params {
                margin-top: 10px;

                p {
                    margin-top: 5px;
                    color: #878a8a;
                    font-size: .8rem;
                    margin-bottom: 0;
                    min-height: 84px;
                    padding: 10px;
                }
            }

            div.search-results {
                border-top: 1px solid $border-silver;
                height: calc(100vh - 330px);
                overflow-y: auto;

                div.search-result {
                    border-bottom: 1px dashed $border-silver;
                    padding: 10px;
                    background: white;

                    &:not(:first) {
                        border-top: 1px solid $border-silver;
                    }

                    span.search-result-id {
                        font-size: 14px;

                        &:before {
                            content: "\f15b";
                            color: #cdcfcf;
                            font-family: FontAwesome;
                            margin-right: 10px;
                        }
                    }

                    span.search-result-type, span.search-result-size, span.search-result-occurrences {
                        font-size: 10px;
                        margin-left: 15px;
                    }

                    ul.search-result-paths {
                        li {
                            margin-top: 10px;
                            font-size: 12px;
                        }
                    }

                    div.search-result-buttons {
                        margin-left: 15px;

                        button {
                            background: $charcoal;
                            padding: 5px 0;
                            min-width: 25px !important;

                            &.inspect {
                                margin-top: 8px;
                            }

                            &:disabled {
                                cursor: not-allowed;
                                background: $grey;
                                color: $tan;
                            }

                            &:hover {
                                background: $orange;
                            }
                        }
                    }
                }
            }
        }
    }
}