#records-visualizer {
    @include flexbox;

    @include flex-dir(column);

    background: $offwhite;
    width: 100%;

    #records-visualizer-header {
        @include flexbox;

        @include flex(0 0 auto);

        background: white;
        border-bottom: 1px solid #cdcfcf;
        height: 55px;
        padding: 10px;
        width: 100%;

        .title {
            display: block;
            color: #7e8181;
            font-family: 'Gotham-Book', arial, sans-serif;
            line-height: 33px;
        }

        i {
            line-height: 33px;
            padding: 0 10px;
        }
    }

    #records-visualizer-main {
        @include flexbox;
    }

    #records-visualizer-hierarchy {
        @include flexbox;

        width: calc(100vw - 500px);
        overflow-x: auto;

        &.collapse {
            width: calc(100vw - 700px);
        }
    }

    .records-level {
        @include flex(0 0 auto);

        background: $offwhite;
        border-right: 1px solid #cdcfcf;
        width: 300px;

        .filter {
            input {
                border: 0;
                border-bottom: 1px solid #cdcfcf;
                border-radius: 0;
            }
        }

        .records-container {
            height: calc(100vh - 104px);
            font-family: 'Gotham-Book', arial, sans-serif;
            overflow-y: auto;

            .records-entry {
                @include flex(0 0 auto);

                border-bottom: 1px solid #cdcfcf;
                display: block;
                font-size: .8rem;
                padding: 12px;

                &:hover {
                    background: white;
                    cursor: pointer;
                }
            }
        }
    }

    #records-visualizer-details {
        @include flex(0 0 auto);

        background: $offwhite;
        border-left: 1px solid #cdcfcf;
        padding: 20px;
        width: 300px;

        &.expand {
            width: 500px;
        }

        h3 {
            color: #7e8181;
            font-family: 'Gotham-Light', arial, sans-serif;
            font-size: 20px;
            margin-bottom: 10px;
        }

        span, li {
            font-family: 'Gotham-Light', arial, sans-serif;
            font-size: 12px;
        }

        li {
            margin-bottom: 15px;

            &.record {
                li {
                    border-left: 4px solid #cdcfcf;
                    font-size: 11px;
                    padding-left: 5px;
                }

                ul {
                    margin-left: 10px;
                    margin-top: 10px;
                }
            }
        }

        .long-id {
            font-size: 10px;
        }

        .ace_editor {
            margin-bottom: 20px;
        }

        .details-footer {
            @include flexbox;
            @include justify-content(space-between);
            padding: 10px 0;

            button {
                @include flex(1 0 auto);

                background: $charcoal;
                width: 80px;

                &:not(:first-child) {
                    margin-left: 10px;
                }

                &.save {
                    background: $orange;
                }
            }
        }
    }
}