<div id="calc-visualizer">
    <!-- -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Header -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="calc-visualizer-header">
        <span class="title">Calculation Explorer<span ng-show="bucket"> - {{ bucket }}</span></span>
        <div class="spacer"></div>
        <span class="header-error" ng-show="error">{{ error }}</span>
        <i id="calc-settings-target" class="fa fa-cog" ng-click="modifySettings($event)"></i>
    </div>
    <!-- -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Main -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="calc-visualizer-main">
        
        <div id="calc-visualizer-graph">
            <div id="calc-visualizer-graph-container">
                <input name="id" type="text" class="form-control" ng-model="id" ng-change="refresh(true)" placeholder="Id" ng-maxlength="32">
                <svg></svg>
            </div>
        </div>

        <div id="calc-visualizer-details">
            <div class="details-content" ng-show="selected">
                <h3>{{ selected.type }}</h3>
                <div id="details-content-status" ng-show="selected.type !== 'posted' && selected.type !== 'value'">
                    <h4>Status</h4>
                    <div ui-ace="{
                     mode: 'json',
                     onLoad: aceLoaded
                     }" ng-model="selected.status.body" readonly></div>
                </div>
                <div id="details-content-data" ng-show="selected.type === 'posted' || selected.type === 'value' || selected.status.type !== 'failed'">
                    <h4>Data</h4>
                    <div ng-show="selected.type !== 'posted' && selected.type !== 'value' && selected.status.type !== 'completed'"><i class="fa fa-spinner fa-spin"></i></div>
                    <div ng-show="selected.type === 'posted' || selected.type === 'value' || selected.status.type === 'completed'">
                        <div ng-show="selected.type === 'value'">
                            <div ui-ace="{
                             mode: 'json',
                             onLoad: aceLoaded
                             }" ng-model="selected.value" readonly></div>
                         </div>
                         <div ng-show="selected.type === 'posted' || selected.status.type === 'completed'">
                            <span ng-hide="selected.data.size <= 5000000">Size exceeds allowable limit to show as JSON.</span>
                            <div ui-ace="{
                             mode: 'json',
                             onLoad: aceLoaded
                             }" ng-show="selected.data.size <= 5000000" ng-model="selected.data.body" readonly></div>
                         </div>
                        <button ng-click="download('json')" ng-disabled="selected.data.size > 5000000"><i class="fa fa-download"></i> JSON</button>
                        <button ng-click="download('octet-stream')"><i class="fa fa-download"></i> Binary</button>
                    </div>
                </div>
                <div id="details-content-request" ng-show="selected.type !== 'posted' && selected.type !== 'value'">
                    <h4>Request</h4>
                    <div ui-ace="{
                     mode: 'json',
                     onLoad: aceLoaded
                     }" ng-model="selected.request" readonly></div>
                    <button ng-click="downloadRequest()"><i class="fa fa-download"></i> JSON</button>
                </div>
            </div>
        </div>

    </div>
    <!-- -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Calc Settings modal -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script type="text/ng-template" id="calcSettings.tmpl.html">
        <div class="modal-content records-modal">
            <div class="modal-header">
                Settings
            </div>
            <div class="modal-body context-body">
                <form name="settingsForm">
                    <div id="form-context" class="form-group has-feedback" ng-class="{'has-error': hasError(settingsForm, 'context')}">
                        <div>
                            <label>Context</label>
                            <input name="context" type="text" class="form-control" ng-model="context" ng-change="refresh(true)" placeholder="Add Context" ng-maxlength="32" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="spacer"></div>
                <button type="button" class="close" ng-click="close()">Close</button>
            </div>
        </div>
    </script>
</div>