<div id="records-visualizer">
    <!-- -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Header -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="records-visualizer-header">
        <span id="records-settings-header" class="title">Visualizer</span>
        <div class="spacer"></div>
        <i id="records-settings-target" class="fa fa-cog" ng-click="modifySettings($event)"></i>
    </div>
    <!-- -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Main -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="records-visualizer-main">
        
        <div id="records-visualizer-hierarchy">

            <div class="records-level">
                <div class="filter">
                    <input type="text" placeholder="Filter Records">
                </div>
                <div class="records-container">
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                </div>
            </div>

            <div class="records-level">
                <div class="filter">
                    <input type="text" placeholder="Filter Records">
                </div>
                <div class="records-container">
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>

                </div>
            </div>

            <div class="records-level">
                <div class="filter">
                    <input type="text" placeholder="Filter Records">
                </div>
                <div class="records-container">
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>

                </div>
            </div>

            <div class="records-level">
                <div class="filter">
                    <input type="text" placeholder="Filter Records">
                </div>
                <div class="records-container">
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>
                    <span class="records-entry">fsdfsdfsdfsdfsfsdf</span>

                </div>
            </div>

        </div>

        <div id="records-visualizer-details">
            Some details here:
        </div>

    </div>
    <!-- -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Records Settings modal -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script type="text/ng-template" id="recordsSettings.tmpl.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel($event)"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form name="settingsForm">
                    <div id="form-context" class="form-group has-feedback" ng-class="{'has-error': hasError(settingsForm, 'context')}">
                        <label for="context" class="control-label">Context:</label>
                        <div>
                            <input id="context" name="context" type="text" class="form-control" ng-model="context" ng-change="initialize()" placeholder="Context" ng-maxlength="32" required>
                            <!-- <span id="error-context-required" ng-show="hasError(settingsForm, 'context', 'required')" class="help-block ng-hide">Please enter a context.</span>
                            <span id="error-structure-name-maxlength" ng-show="hasError(settingsForm, 'name', 'maxlength')" class="help-block ng-hide">Context names must not exceed 32 characters.</span>
                            <span id="error-context-glyphicon" class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="hasError(settingsForm, 'context')" aria-hidden="true"></span> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
</div>